/* ============================================= */
/*              Color variables                  */
/* ============================================= */

//Specific colors

$white            :   #fff;
$french-lilac     :   #deb2ee;
$anakiwa          :   #7EE6FD;
$vista-blue       :   #88D9A0;
$fountain-blue    :   #4DA2BB;
$sea-pink         :   #EC9FA3;
$vivid-tangerine  :   #FD9F85;
$riptide          :   #80E8D1;
$light-grey       :   #ccc;


//Main colors

$color-text-primary     :     #777;
$color-primary          :     #58e1c1; 
$color-secondary        :     #51ddfc;

//Button and grid pair colors

$default        :      $color-secondary;
$error          :      #e4757a;
$info           :      #927bc1;
$success        :      #63cc82;
$warning        :      #fd7856;


/* ============================================= */
/*              Size variables                   */
/* ============================================= */

// Spacing

$gutter                   :        10px;
$blockquote-gutter-left   :        20px;
$taken-place              :        100%;

// Font-weight

$normal      :        300;
$bold        :        700;

// Border

$border-radius   :   5px;

// Media query breakpoint

$brk     :    '(min-width: 768px)';




