/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  &-avatar {
    @extend %max-width;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $gutter;
    max-height: $taken-place;
  }
  
  &-frame {
    @extend %max-width;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $gutter;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  &-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
}


.logo {
  @include mq ($brk) {
  margin-left: initial;
  margin-right: initial;
 }
}
